<%- include('../layout/header') -%>




<!-- <div class="container-fluid"   id="main">
    <div class="mt-4">LOGIN</div>
    <form action="/login"   method="Post">
        <div class="form-group mt-4">
            <input type="email" name="email" placeholder="Enter your email" required>
        </div><br><br>
        <div class="form-group mt-4">
            <input type="password" name="password" placeholder="Enter your password" required>
        </div><br><br>
        <button class="btn-primary mt-4 rounded-pill">submit</button>
    </form>
</div> 

 -->
 <div class="container-fluid" id="div1"> 
    <div class="container w-25  py-5 center-div text-center" id="main-div">
    <h2 class="font-weight-bold">Login</h2>
    <span id="sublogin">login for Existing Users</span>

    <form action="/login" method="POST">

        <div class="form-group mt-4">
            <input type="email" class="form-control" name="email" placeholder="email" required>

        </div>
        <div class="form-group mt-4">
            <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>
        <button class="btn btn-primary mt-4 rounded-pill">Submit</button>

        <br><br>
        <span>Don't have an account?  <a href="/register">Sign In</a></span>

        <% if (locals.message) { %>
            <p id="alert"><%= message %></p>
        <% } %>
        
    </form>

    
   
</div>

</div>



<%- include('../layout/footer') -%>