#alert{
    color:red;
    text-align:center;
    
}

#box{

    margin-top: 10px;
    padding-left: 21px;
    width: 44px;
    height: 36px;
}
#otppp{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}

#txt{
    color:white
}
.dropdown-toggle {
    position: relative;
}

.dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    border: 5px solid transparent; /* Reduce size */
    border-top-color:white; /* Change color as needed */
}
.dropdown-logout a.btn {
    background-color: #fff; /* Set background color to white */
    color: #000; /* Set text color to black */
    font-size: 14px; /* Adjust font size as needed */
    padding: 8px 16px; /* Adjust padding as needed */
}

  #home-image{
    height: 377px;
    width: 277px; /* adjust as needed */
  }
 /* #shop-image {
    max-width: 100%;
    height: auto; /* This ensures that the image maintains its aspect ratio */
