#alert{
    color:red;
    text-align:center;
    
}
#alert-container{
    color:red;
    text-align:center;
}
#alert-container2{
    color:red;
    text-align:center;
}
#alert-container3{
    color:red;
    text-align:center;
}
#alert-container4{
    color:red;
    text-align:center;
}
#box{

    margin-top: 10px;
    padding-left: 21px;
    width: 44px;
    height: 36px;
}
#otppp{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}

#txt{
    color:white
}
.dropdown-toggle {
    position: relative;
}

.dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    border: 5px solid transparent; /* Reduce size */
    border-top-color:white; /* Change color as needed */
}
.dropdown-logout a.btn {
    background-color: #fff; /* Set background color to white */
    color: #000; /* Set text color to black */
    font-size: 14px; /* Adjust font size as needed */
    padding: 8px 16px; /* Adjust padding as needed */
}

  #home-image{
    height: 377px;
    width: 277px; /* adjust as needed */
  }
 /* #shop-image {
    max-width: 100%;
    height: auto; /* This ensures that the image maintains its aspect ratio */
    #linkforget {
        float: right;
        /* You can also use other CSS properties for alignment, such as margin-right */
        /* margin-right: 20px; */
    }

   
   
    #addAddressModal .modal-content {
        background: #fff; /* Background color */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
        padding: 20px; /* Padding inside the modal */
         /* Add border to the modal content */
    }
    #addAddressModal .modal-header {
        border-bottom: none;
        background-color: none; /* Remove border from the header */
    }

    #addAddressModal .form-group {
        margin-bottom: 20px; /* Margin between form groups */
    }
    
    #addAddressModal button {
         /* Button background color */
        color: #fff; /* Button text color */
        border: none; /* Remove button border */
        padding: 10px 15px; /* Padding inside the button */
        border-radius: 5px; /* Rounded corners for the button */
        cursor: pointer; /* Cursor style on hover */
    }

   